html, 
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
  font-family: 'Poppins';
  scroll-behavior: smooth;
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
  width: 0;
  background: transparent;
}

.about-section {
  clip-path: polygon(0 15%, 0 100%, 100% 85%, 100% 0);
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
}

.experience-section {
  clip-path: polygon(0 10%, 100% 20%, 100% 100%, 0 90%);
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

.project-section {
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
  clip-path: polygon(0 8%, 0 100%, 100% 92%, 100% 0);
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.section {
  width: 50%;
  text-align: center;
  min-width: 900px;
}

.top-container {
  margin: 24px;
  position: relative;
  padding-top: 36px;
}

.top-container::after {
  content: '';
  position: absolute;
  width: 2px;
  background: white;
  top: 0;
  bottom: 0;
  left: 50%;
}

.exp-container {
  padding: 12px;
  position: relative;
  width: 50%;
}

.exp-container.left {
  left: 0;
}

.exp-container.right {
  left: 50%;
}

.exp-container::after {
  content: '';
  position: absolute;
  top: 60px;
  right: -10px;
  height: 18px;
  width: 18px;
  background-color: rgb(21 94 117);
  border: 2px solid white;
  border-radius: 100%;
  z-index: 1;
}

.exp-container.right::after {
  left: -8px;
}

.exp-container .date {
  position: absolute;
  top: calc(50% - 14px);
}

.exp-container.left .date {
  right: -178px;
}

.exp-container.right .date {
  left: -174px;
}

.exp-container .content {
  background-color: #7f5a83;
  background-image: linear-gradient(135deg, #7f5a83 0%, #0d324d 74%);
  margin: 0 24px;
  padding: 32px 16px;
  border-radius: 8px;
  text-align: right;
}

  .exp-container.right .content {
    text-align: left;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  }

.subtitle {
  font-weight: 200;
  font-size: 14px;
  font-style: italic;
  padding-top: 4px;
}

@media screen and (max-width: 800px) {
  .top-container {
    margin: 4px;
  }

  .exp-container {
    width: 40%;
  }

  .exp-container .content {
    margin: 0 8px;
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  }

  .exp-container.left {
    left: 10%;
  }
}

@media screen and (max-width: 700px) {
  .exp-container {
    width: 30%;
  }

  .exp-container.left {
    left: 20%;
  }
}

@media screen and (max-width: 520px) {
  .section {
    min-width: 100%;
  }

  .top-container::after {
    left: 16px;
  }

  .exp-container.left, .exp-container.right {
    width: 100%;
    left: 0;
    padding: 12px 0 12px 24px;
    margin-top: 24px;
  }

  .exp-container.left .date, .exp-container.right .date {
    left: auto;
    right: auto;
    top: -16px;
    font-weight: 300;
    font-size: 14px;
    position: absolute;
    padding-left: 10px;
  }

  .exp-container.left .content, .exp-container.right .content {
    text-align: left;
    padding: 16px;
  }

  .exp-container.left::after, .exp-container.right::after {
    left: 10px;
    top: -14px;
    height: 14px;
    width: 14px;
  }
  
  .menu-icon {
    background: yellow;
  }
  
  /* .menu-icon input {
    @apply absolute h-[30px] w-[30px] opacity-0;
  } 
  
  .menu-icon .icon-container {
    @apply w-[24px] mr-4;
  }
  
  .menu-icon .icon-container div {
    @apply h-[3px] rounded-xl bg-white mt-1;
  }
  
  .menu-icon input:checked ~ .icon-container div:nth-child(1) {
    transform: translate(4px, 6px) rotate(45deg);
  } 
  
  .menu-icon input:checked ~ .icon-container div:nth-child(2) {
    transform: rotate(135deg);
  } 
  
  .menu-icon input:checked ~ .icon-container div:nth-child(3) {
    transform: translate(9px, -8px) rotate(45deg);
  }  */
}
