@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
.menu-icon {
  background: yellow;
}

.menu-icon input {
  @apply absolute h-[30px] w-[30px] opacity-0;
} 

.menu-icon .icon-container {
  @apply w-[24px] mr-4;
}

.menu-icon .icon-container div {
  @apply h-[3px] rounded-xl bg-white mt-1;
}

.menu-icon input:checked ~ .icon-container div:nth-child(1) {
  transform: translate(4px, 6px) rotate(45deg);
} 

.menu-icon input:checked ~ .icon-container div:nth-child(2) {
  transform: rotate(135deg);
} 

.menu-icon input:checked ~ .icon-container div:nth-child(3) {
  transform: translate(9px, -8px) rotate(45deg);
}  */